<div id="parallax" style="background:url({{ instance.image.url }});" class="parallax text-light text-center marginbot50" data-stellar-background-ratio="0.5">

           <div class="container">
				<div class="row appear stats">
					<div class="col-xs-6 col-sm-3 col-md-3">
						<div class="align-center color-white txt-shadow">
							<div class="icon">
{#								<i class="fa fa-clock-o fa-5x"></i>#}
							</div>
						<strong id="counter-coffee" class="number">{{ instance.number1 }}</strong><br />
						<span class="text">{{ instance.description1 }}</span>
						</div>
					</div>
					<div class="col-xs-6 col-sm-3 col-md-3">
						<div class="align-center color-white txt-shadow">
							<div class="icon">
{#								<i class="fa fa-music fa-5x"></i>#}
							</div>
						<strong id="counter-music" class="number">{{ instance.number2 }}</strong><br />
						<span class="text">{{ instance.description2 }}</span>
						</div>
					</div>
					<div class="col-xs-6 col-sm-3 col-md-3">
						<div class="align-center color-white txt-shadow">
							<div class="icon">
{#								<i class="fa fa-coffee fa-5x"></i>#}
							</div>
						<strong id="counter-clock" class="number">{{ instance.number3 }}</strong><br />
						<span class="text">{{ instance.description3 }}</span>
						</div>
					</div>
					<div class="col-xs-6 col-sm-3 col-md-3">
						<div class="align-center color-white txt-shadow">
							<div class="icon">
{#								<i class="fa fa-trophy fa-5x"></i>#}
							</div>
						<strong id="counter-heart" class="number">{{ instance.number4 }}</strong><br />
						<span class="text">{{ instance.description4 }}</span>
						</div>
					</div>
				</div>
            </div>
	</div>
